.abc{
    background-color: blue;
    border-radius: 5px solid green;
    }
    .xyz{
        background-color:  rgb(0, 139, 16)
         
    }
    .mno{
        background-color: red;
    }
    span{
        background-color: rgb(43, 226, 141);
    }
    span2{
        background-color: blueviolet;
    }
    span3{
        background-color: cadetblue;
    }
    span4{
        background-color: aqua;
    }
    span5{
        background-color: burlywood;
    }
    span6{
        background-color: cornflowerblue;
    }